In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./project-files/PRISM_4km_196601_197012.csv', skiprows=10)
df.head()

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
0,1,-114.1578,48.9339,6617.0,1966-01,16.46,6.7,12.7,18.6,8.2,0.07,1.26
1,1,-114.1578,48.9339,6617.0,1966-02,7.59,10.9,18.0,25.1,8.8,0.37,2.33
2,1,-114.1578,48.9339,6617.0,1966-03,9.41,16.0,24.3,32.6,7.8,1.00,4.12
3,1,-114.1578,48.9339,6617.0,1966-04,5.54,19.3,28.7,38.1,14.2,0.76,5.19
4,1,-114.1578,48.9339,6617.0,1966-05,4.54,32.0,42.5,53.0,23.2,1.65,9.89

In [2]:
df = pd.read_csv('./project-files/PRISM_4km_196601_197012-no-header.csv')
df.head()

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
0,1,-114.1578,48.9339,6617,1966-01,16.46,6.7,12.7,18.6,8.2,0.07,1.26
1,1,-114.1578,48.9339,6617,1966-02,7.59,10.9,18.0,25.1,8.8,0.37,2.33
2,1,-114.1578,48.9339,6617,1966-03,9.41,16.0,24.3,32.6,7.8,1.00,4.12
3,1,-114.1578,48.9339,6617,1966-04,5.54,19.3,28.7,38.1,14.2,0.76,5.19
4,1,-114.1578,48.9339,6617,1966-05,4.54,32.0,42.5,53.0,23.2,1.65,9.89

In [3]:
#the number of rows and columns
df.shape

(2340, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 12 columns):
Name                  2340 non-null int64
Longitude             2340 non-null float64
Latitude              2340 non-null float64
Elevation (ft)        2340 non-null int64
Date                  2340 non-null object
ppt (inches)          2340 non-null float64
tmin (degrees F)      2340 non-null float64
tmean (degrees F)     2340 non-null float64
tmax (degrees F)      2340 non-null float64
tdmean (degrees F)    2340 non-null float64
vpdmin (hPa)          2340 non-null float64
vpdmax (hPa)          2340 non-null float64
dtypes: float64(9), int64(2), object(1)
memory usage: 219.5+ KB

In [5]:
df.tail(10)

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
2330,39,-113.8361,48.9186,7286,1970-03,7.08,9.3,17.5,25.8,9.3,0.08,2.46
2331,39,-113.8361,48.9186,7286,1970-04,8.37,14.6,22.5,30.4,13.3,0.24,3.03
2332,39,-113.8361,48.9186,7286,1970-05,3.28,28.3,38.5,48.6,23.8,0.86,7.51
2333,39,-113.8361,48.9186,7286,1970-06,9.49,40.4,50.4,60.3,31.3,2.38,12.33
2334,39,-113.8361,48.9186,7286,1970-07,1.93,43.6,54.5,65.3,36.1,2.26,14.39
2335,39,-113.8361,48.9186,7286,1970-08,1.14,42.8,54.7,66.6,30.5,3.19,16.83
2336,39,-113.8361,48.9186,7286,1970-09,3.93,29.4,39.3,49.2,25.6,0.79,7.42
2337,39,-113.8361,48.9186,7286,1970-10,4.25,23.9,31.4,39.0,16.8,1.19,4.90
2338,39,-113.8361,48.9186,7286,1970-11,9.18,12.8,19.8,26.7,12.6,0.18,2.24
2339,39,-113.8361,48.9186,7286,1970-12,15.34,4.7,10.6,16.6,7.1,0.01,1.06