In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./project-files/PRISM_4km_196601_197012.csv', skiprows=10)
df.head()

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
0,1,-114.1578,48.9339,6617.0,1966-01,16.46,6.7,12.7,18.6,8.2,0.07,1.26
1,1,-114.1578,48.9339,6617.0,1966-02,7.59,10.9,18.0,25.1,8.8,0.37,2.33
2,1,-114.1578,48.9339,6617.0,1966-03,9.41,16.0,24.3,32.6,7.8,1.00,4.12
3,1,-114.1578,48.9339,6617.0,1966-04,5.54,19.3,28.7,38.1,14.2,0.76,5.19
4,1,-114.1578,48.9339,6617.0,1966-05,4.54,32.0,42.5,53.0,23.2,1.65,9.89

In [3]:
df = pd.read_csv('./project-files/PRISM_4km_196601_197012-no-header.csv')
df.head()

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
0,1,-114.1578,48.9339,6617,1966-01,16.46,6.7,12.7,18.6,8.2,0.07,1.26
1,1,-114.1578,48.9339,6617,1966-02,7.59,10.9,18.0,25.1,8.8,0.37,2.33
2,1,-114.1578,48.9339,6617,1966-03,9.41,16.0,24.3,32.6,7.8,1.00,4.12
3,1,-114.1578,48.9339,6617,1966-04,5.54,19.3,28.7,38.1,14.2,0.76,5.19
4,1,-114.1578,48.9339,6617,1966-05,4.54,32.0,42.5,53.0,23.2,1.65,9.89

In [4]:
#the number of rows and columns
df.shape

(2340, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 12 columns):
Name                  2340 non-null int64
Longitude             2340 non-null float64
Latitude              2340 non-null float64
Elevation (ft)        2340 non-null int64
Date                  2340 non-null object
ppt (inches)          2340 non-null float64
tmin (degrees F)      2340 non-null float64
tmean (degrees F)     2340 non-null float64
tmax (degrees F)      2340 non-null float64
tdmean (degrees F)    2340 non-null float64
vpdmin (hPa)          2340 non-null float64
vpdmax (hPa)          2340 non-null float64
dtypes: float64(9), int64(2), object(1)
memory usage: 219.5+ KB

In [6]:
df.tail(10)

,Name,Longitude,Latitude,Elevation (ft),Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
2330,39,-113.8361,48.9186,7286,1970-03,7.08,9.3,17.5,25.8,9.3,0.08,2.46
2331,39,-113.8361,48.9186,7286,1970-04,8.37,14.6,22.5,30.4,13.3,0.24,3.03
2332,39,-113.8361,48.9186,7286,1970-05,3.28,28.3,38.5,48.6,23.8,0.86,7.51
2333,39,-113.8361,48.9186,7286,1970-06,9.49,40.4,50.4,60.3,31.3,2.38,12.33
2334,39,-113.8361,48.9186,7286,1970-07,1.93,43.6,54.5,65.3,36.1,2.26,14.39
2335,39,-113.8361,48.9186,7286,1970-08,1.14,42.8,54.7,66.6,30.5,3.19,16.83
2336,39,-113.8361,48.9186,7286,1970-09,3.93,29.4,39.3,49.2,25.6,0.79,7.42
2337,39,-113.8361,48.9186,7286,1970-10,4.25,23.9,31.4,39.0,16.8,1.19,4.90
2338,39,-113.8361,48.9186,7286,1970-11,9.18,12.8,19.8,26.7,12.6,0.18,2.24
2339,39,-113.8361,48.9186,7286,1970-12,15.34,4.7,10.6,16.6,7.1,0.01,1.06

In [7]:
df = pd.read_json('./data/climate-G1.json')
df.head(13)

    NUM  YEAR  MONTH       DATE  PPTIN  TMINF  TMEANF  TMAXF
0     1  1966      1 1966-01-01  16.46    6.7    12.7   18.6
1     1  1966      2 1966-02-01   7.59   10.9    18.0   25.1
2     1  1966      3 1966-03-01   9.41   16.0    24.3   32.6
3     1  1966      4 1966-04-01   5.54   19.3    28.7   38.1
4     1  1966      5 1966-05-01   4.54   32.0    42.5   53.0
5     1  1966      6 1966-06-01   8.73   34.1    43.7   53.4
6     1  1966      7 1966-07-01   2.95   43.1    54.2   65.3
7     1  1966      8 1966-08-01   2.90   40.1    51.6   63.1
8     1  1966      9 1966-09-01   0.97   40.6    51.1   61.5
9     1  1966     10 1966-10-01   6.10   27.4    34.7   42.0
10    1  1966     11 1966-11-01  16.70   17.0    23.1   29.2
11    1  1966     12 1966-12-01  13.40   15.3    20.7   26.1
12    1  1967      1 1967-01-01  22.78   11.8    17.8   23.7

In [8]:
df.groupby(np.arange(len(df))//12).mean()

    NUM    YEAR  MONTH      PPTIN      TMINF     TMEANF      TMAXF
0   1.0  1966.0    6.5   7.940833  25.208333  33.775000  42.333333
1   1.0  1967.0    6.5   8.441667  25.475000  34.200000  42.916667
2   1.0  1968.0    6.5   8.259167  24.608333  32.916667  41.225000
3   1.0  1969.0    6.5   6.280000  24.733333  33.450000  42.150000
4   1.0  1970.0    6.5   9.250000  24.183333  32.925000  41.658333
5   1.0  1971.0    6.5   8.425833  23.850000  32.341667  40.866667
6   1.0  1972.0    6.5   8.302500  23.016667  31.608333  40.158333
7   1.0  1973.0    6.5   7.283333  24.675000  33.391667  42.083333
8   1.0  1974.0    6.5  10.174167  25.291667  33.591667  41.900000
9   1.0  1975.0    6.5   9.642500  23.050000  31.133333  39.233333
10  1.0  1976.0    6.5   6.565000  26.133333  34.516667  42.858333
11  1.0  1977.0    6.5   6.094167  24.225000  32.791667  41.400000
12  1.0  1978.0    6.5   6.105000  24.333333  32.641667  40.991667
13  1.0  1979.0    6.5   5.226667  24.875000  33.858333  42.833333
14  1.0  1980.0    6.5   6.930833  25.541667  34.075000  42.608333
15  1.0  1981.0    6.5   5.635833  26.558333  35.008333  43.425000
16  1.0  1982.0    6.5   6.363333  22.433333  31.033333  39.633333
17  1.0  1983.0    6.5   5.366667  25.241667  33.725000  42.216667
18  1.0  1984.0    6.5   6.211667  24.566667  33.008333  41.433333
19  1.0  1985.0    6.5   5.510833  22.408333  30.825000  39.191667
20  1.0  1986.0    6.5   6.770000  26.108333  34.483333  42.841667
21  1.0  1987.0    6.5   4.941667  27.075000  35.891667  44.691667
22  1.0  1988.0    6.5   5.282500  26.475000  35.366667  44.233333
23  1.0  1989.0    6.5   7.195833  23.450000  31.775000  40.091667
24  1.0  1990.0    6.5   8.406667  24.050000  32.608333  41.150000
25  1.0  1991.0    6.5   6.387500  24.575000  33.483333  42.383333
26  1.0  1992.0    6.5   5.320833  25.733333  34.625000  43.541667
27  1.0  1993.0    6.5   5.459167  23.375000  31.891667  40.391667
28  1.0  1994.0    6.5   6.068333  25.058333  34.108333  43.133333
29  1.0  1995.0    6.5   7.994167  24.108333  32.733333  41.358333
30  1.0  1996.0    6.5   7.883333  21.775000  30.666667  39.575000
31  1.0  1997.0    6.5   6.610000  24.666667  33.200000  41.750000
32  1.0  1998.0    6.5   6.104167  26.358333  35.241667  44.166667
33  1.0  1999.0    6.5   6.817500  26.066667  34.191667  42.308333
34  1.0  2000.0    6.5   4.985833  24.841667  33.325000  41.841667
35  1.0  2001.0    6.5   4.835833  25.808333  34.366667  42.933333
36  1.0  2002.0    6.5   6.920000  24.341667  32.691667  41.033333
37  1.0  2003.0    6.5   5.769167  26.441667  35.416667  44.400000
38  1.0  2004.0    6.5   6.089167  26.816667  35.191667  43.591667
39  1.0  2005.0    6.5   5.870000  25.808333  34.483333  43.158333
40  1.0  2006.0    6.5   6.790000  27.050000  35.875000  44.708333
41  1.0  2007.0    6.5   5.647500  26.433333  35.350000  44.275000
42  1.0  2008.0    6.5   5.807500  24.541667  33.591667  42.666667
43  1.0  2009.0    6.5   5.430833  24.300000  33.450000  42.583333
44  1.0  2010.0    6.5   6.119167  26.166667  34.691667  43.183333
45  1.0  2011.0    6.5   7.455833  24.741667  33.475000  42.150000
46  1.0  2012.0    6.5   8.615833  26.958333  35.608333  44.275000
47  1.0  2013.0    6.5   6.090833  26.325000  35.108333  43.883333
48  1.0  2014.0    6.5   6.707500  25.816667  34.483333  43.158333
49  1.0  2015.0    6.5   5.198333  28.258333  37.125000  45.958333